<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Revature Reimbursement</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <!-- <a class="nav-item nav-link active border-bottom border-dark" href="/home">Home <span class="sr-only">(current)</span></a> -->
      <a class="nav-item nav-link active" (click)="passOnR()">View Reimbursements<span class="sr-only"></span></a>
      <a class="nav-item nav-link active" (click)="passOnA()">Add Reimbursements <span class="sr-only">(current)</span></a>
      <!-- <a *ngIf= "servletRoleId == 1" class="nav-item nav-link active " href="/manage_reimbursemnts">Manage Reimbursements <span class="sr-only">(current)</span></a> -->
      <a class="nav-item nav-link active " href="/logout">Logout <span class="sr-only">(current)</span></a>
    
   

    </div>
  </div>
</nav>


<br><br>

<h2>Welcome {{ fn }}</h2>
<h3>Role Id: {{ rid }}</h3>
<br><br>

<h3>Reimbursement Listings: </h3>



<!-- <select [(ngModel)]='statusid ' class="form-control col-2" onChange="getReimbByStatus(this.value)">
    <option class="col-2 form-control" value=ALL>All</option>
    <option class="col-2 form-control" value=PENDING>Pending</option>
    <option class="col-2 form-control" value=APPROVED>Approved</option>
    <option class="col-3 form-control" value=DENIED>Denied</option>
  </select> -->



<table class="table table-hover">
  <thead>
    <tr>
    <th scope=col>Reimbursement Id</th>
    <th scope=col>Amount </th>
    <th scope=col>Submit Date</th>
    <th scope=col>Resolved Date</th>
    <th scope=col>Description</th>
    <th scope=col>Author</th>
    <th scope=col>Resolver</th>
    <th scope=col>Status</th>
    <th scope=col>Category</th>
  </tr>
  </thead>
<tbody>
<tr *ngFor="let r of reimbursements" >
<td>{{r.id}}</td>
<td>{{r.amount | currency}}</td>
<td>{{r.submitted | date: 'short'}}</td>
<td>{{r.resolved | date: 'short'}}</td>
<td>{{r.description}}</td>
<td>{{r.sauthor}}</td>
<td>{{r.sresolver}}</td>
<td>{{r.sstatusid }}</td>
<td>{{r.stypeid}}</td>
</tr>
</tbody>
</table>

