
<b>{{currentTime | date:'medium' | uppercase}}</b>
<h1><i>Binding Types</i></h1>
<button [ngClass]="buttonClass" (click)="testBinding()">Click me</button>
<input type="text" class="form-control" [(ngModel)]="color">



<div [style.background-color]="color">
  {{text}}
</div>

<hr>
<h3><i>Pipes</i></h3>
<input types="text" [(ngModel)]="pipeText">
{{pipeText | uppercase}}

{{100 | sqt}}


<hr>
<h3><i>To Do List...Exploring Structural Directives</i></h3>
<input type="text" [(ngModel)]="newItem">
<button [ngClass]="buttonClass" (click)="addToList()">Add to list...</button>
<ul>
  <li *ngFor="let string of itemList">
    <span (click)="strike(string)" [ngStyle]="listStyle">{{string}}</span>
  </li>
</ul>