<br>
<h3>Fill out the fields and click submit to file a new Request.</h3>
<div class="input-group mb-3">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Food</a>
    <a class="dropdown-item" href="#">Lodging</a>
    <a class="dropdown-item" href="#">Travel</a>
  </div>
</div>
	<input type="text" class="form-control"
		aria-label="Text input with dropdown button">
</div>

<div class="input-group">
	<div class="input-group-prepend">
		<span class="input-group-text">Description</span>
	</div>
	<textarea class="form-control" aria-label="With textarea" id="descriptionText"></textarea>
</div>

<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text">$</span> <span class="input-group-text" id="cashMoneyYall">0.00</span>
	</div>
	<input type="text" class="form-control"
		aria-label="Dollar amount (with dot and two decimal places)">
</div>
<button type="button" class="btn btn-primary btn-lg" id="newTicketButton">Submit</button>


<body>
	<p>
		<i>Here are your statements</i>
	</p>
	<table class="table table-sm table-hover table-bordered thead-light"
		id="entireTab">
		<thead>
			<tr>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Cash</th>
				<th scope="col">Submitted Date</th>
				<th scope="col">Resolution Date</th>
				<th scope="col">Description</th>
				<th scope="col">Status</th>

			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>