<div class="container">
  <div class="row logintopformat shadow-lg rounded">
<div class="col col-md-6 mx-auto row row-md-3-4 align-items-center logintopformat">
    <br>
    <br>
  <h1 class = "text-center">Welcome to the Reimbursement Center!</h1>
  <br>
  <br>
</div>
</div>
<div class="row backgroundformat">
    <br>
    <br>
    <br>
  <div class="col-6">
<div class="col col-10 mx-auto">
  <h2>Please Login</h2>
  <br>
  <form (submit)="login()">
  <input type="text" class="form-control" placeholder="Enter Username" id="usernameInput" name="username" [(ngModel)]="username">
  <br>
  <input type="password" class="form-control" placeholder="Enter Password" id="passwordInput" name="password" [(ngModel)]="password">
  <br>
  <input type="submit" class="btn btn-primary" value="Log In">
  </form>
</div>
</div>
</div>
</div>