<ng-template #content let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">New User Registration</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="text" id="username" class="col-12 col-md form-control" [(ngModel)]="newUserData.username" aria-describedby="amount-unit"
          required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="amount-unit" class="input-group-text">Password</span>
          </div>
          <input type="password" id="password" class="col-12 col-md form-control" [(ngModel)]="newUserData.password" aria-describedby="amount-unit"
            required>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="amount-unit" class="input-group-text">Email</span>
          </div>
          <input type="email" id="email" class="col-12 col-md form-control" [(ngModel)]="newUserData.email" aria-describedby="amount-unit"
            required>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="amount-unit" class="input-group-text">First Name</span>
          </div>
          <input type="text" id="firstName" class="col-12 col-md form-control" [(ngModel)]="newUserData.firstName" aria-describedby="amount-unit"
            required>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="amount-unit" class="input-group-text">Last Name</span>
          </div>
          <input type="text" id="lastName" class="col-12 col-md form-control" [(ngModel)]="newUserData.lastName" aria-describedby="amount-unit"
            required>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="amount-unit" class="input-group-text">Role</span>
          </div>
          <select id="role" class="form-control custom-select" [(ngModel)]="newUserRole" required>
            <option value="employee">EMPLOYEE</option>
            <option value="manager">MANAGER</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Submit</button>
  </div>
</ng-template>