<!-- 
<div [hidden]="hidden">
  <h3 class="text-center">Here is the getUsers Button</h3>
  
</div> -->

<button (click)="getUsers()" class="btn btn-primary ml-1" id="createBtn"><span class="oi oi-plus"></span> Get Users</button>

<div class="container col-sm">
  <table class="table table-striped table-light mt-2">
      <thead>
      <tr>
          <th scope="col">Username</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of users">
          <td>{{ u.username }}</td>
          <td>{{ u.firstname }}</td>
          <td>{{ u.lastname }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.roleid }}</td>
      </tr>
      </tbody>
  </table>
  </div>