<title> {{title}}</title>
<div class="container">
  <div class="jumbotron" id="view" style="text-align:center">
    <!-- <br>
    <br>

    <app-login></app-login>
    <br>
    <br> -->
    <router-outlet></router-outlet>

    <!-- <app-getusers></app-getusers>
    <br>
    <br>

    <app-getreimbursements></app-getreimbursements>
    <br>
    <br>

    <app-createnewuser></app-createnewuser>
    <br>
    <br>

    <app-createnewrequest></app-createnewrequest>
    <br>
    <br>
     -->

  </div>
</div>