* {
    color: #ccc;
}
.heading {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

.text {
    font-family: 'PT Sans', sans-serif;
    /* font-size: 1.5em; */
}

body {
    margin-top: 2em;
    background-color: #222;
}