<div class="containter">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 align-center text-center">
              <div  style="padding-top:25px"><h1 style="font-size:80px">GREETINGS</h1></div>
              <h1 id="usernameInfo"></h1>
          </div>
          <div class="col-3"></div>
      </div>
  </div>

<div class="container">
        <div class="row">
            <div class="col-5">
                <div style="padding:50px">
                    <div class="container" style="margin-top:60px">
                        <div class="row">  
                            <h1 id="fullnameInfo"></h1>
                            <br>
                            <h1><span id="roleInfo">Privateer</span></h1>
                            <br>
                            <h1><span id="emailInfo"></span> </h1>
    
                        </div>
                    </div>
                </div>
            </div>

                <div class="container" style="position:absolute; top:-180px; left: 18px">
                    <img class="pocketwatch" id="face" src="res/images/pocketwatch2.png" alt="">
                    <img id="hourHand" src="res/images/hourhand.png" alt="" style="transform-origin: 50% 100%; position: absolute;
                    top: 476px;
                    left: 1281px;">
                    <img id="minuteHand" src="res/images/smallhand.png" alt="" style="transform-origin: 50% 100%; position: absolute;
                    top: 430px;
                    left: 1276px;">
                    <img id="secondHand" src="res/images/smallesthand.png" alt="" style="transform-origin: 50% 100%; position: absolute;
                    top: 459px;
                    left: 1275.2px;">
            </div>
        
        </div>
    </div>