
<div class="container-fluid">
    <div class="row">
        <div class="col-3" ></div>
        <div class="col-6 text-center">
            <img src="res/images/crest.gif" alt="Crest" style="width:140px;height:140px;">
            <div class="text-center">
                <h1 style=" margin-top:50px; font-size:3vw; letter-spacing:9px;">Revature & Co.</h1>
                <h1 style="font-size:2vw; letter-spacing:9px; opacity:.8;">Privateer Reimbursements</h1>
                <h3 style="margin-left:15px; font-size:1vw; letter-spacing:9px; opacity:.8;">EST<sup>D</sup> 1653</h3>
            </div>
        </div>
        <div class="col-3" ></div>
    </div>
</div>
<div class="text-center align-center" style="padding:50px">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 col-md-offset-3">
            <form id="roleForm">
            <div class="form-group">
                <input type="text" placeholder="Username" id="usernameReg"  name="username" class="form-control justify-content-center"required>
                <input type="password" placeholder="Password" id="passwordReg" name="password"
                class="form-control justify-content-center" style="margin-top:2px" required>
                <input type="text" placeholder="Given Name" id="firstnameReg" style="margin-top:2px" class="form-control justify-content-center"required>
                <input type="text" placeholder="Family Name" id="lastnameReg" style="margin-top:2px" class="form-control justify-content-center"required>
                <input type="email" placeholder="Personal Mail Address" id="emailReg" style="margin-top:2px" class="form-control justify-content-center"required>
                <div  style="margin:25px">
                    <h5><b>Choose a Role</b></h5>
                    <div class="radio">
                        <label style="padding-right:5px"><input type="radio" name="roleRadio"  value="1" required>Privateer</label>
                      </div>
                      <div class="radio">
                        <label><input type="radio" name="roleRadio" value="2">Financeer</label>
                      </div>
                </div>
                <div style="padding:10px">
                    <button class="old" id="register" style="color:rgb(68, 7, 7);font-size:15px; border-radius:15px; width:115px; background-image:url(res/images/wax.jpg)" >Register</button>
                </div>
                <div style="color:red" hidden="true" id="registerError"></div>
            </div>
        </form>
        </div>
        
    </div>
</div>