<table class="table table-sm table-hover">
  <thead>
    <tr>
     <tr>
	   <th scope="col" colspan=3><u>Tickets</u></th>
	   <th scope="col" colspan=5><u>Reimbursements</u></th>
     </tr>
     <tr>
     	
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Created On</th>
      
      <!-- <th scope="col">&nbsp;|&nbsp;</th> -->
      <th scope="col">Name/Description</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Resolver</th>
      <th scope="col">Receipt</th>
      
     </tr>
    </tr>
  </thead>
  <tbody id="foodDataView">
    <!-- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>