<table class="table table-sm table-hover">
  <thead>
    <tr>
     <tr>
	   <th scope="col" colspan=3><u>Tickets</u></th>
	   <th scope="col" colspan=5><u>Reimbursements</u></th>
     </tr>
     <tr>
     
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Created On</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Resolver</th>
      <th scope="col">Receipt</th>
      
     </tr>
    </tr>
  </thead>
  <tbody id="foodDataViewRows"></tbody>
</table>