body {
    background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
margin-left: 75px;
}

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    color: rgb(221, 196, 195);
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 

}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}


nav a {
    color: rgb(221, 196, 195);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;

}

nav a:hover{
    color: rgb(30, 51, 241);

}

nav a::before{
    content: '';
    display: block;
    height: 5px; 
    
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;

}

nav a:hover::before{
    width:100%;
}


@media print {
    footer {page-break-after: always;}
}





#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

