  <h5 class="text-center">Create a new reimbursement request...</h5> 

  Enter request Type...
  <br>
    <select id="type" class="form-control col-4 mt-2 custom-select" [(ngModel)]="reimbTypeId" required>
        <option value="LODGING">Lodging</option>
        <option value="TRAVEL">Travel</option>
        <option value="FOOD">Food</option>
        <option value="OTHER">Other</option>
    </select>

  <input class="form-control col-4 offset-4 mb-1" type="text" placeholder="Enter brief description of request" name="reimbDescription" required [(ngModel)] = 'reimbDescription'/>
  <input class="form-control col-4 offset-4 mb-1" type="number" placeholder="Enter reimbursement amount" name="reimbAmount" required [(ngModel)]='reimbAmount'/>

  <button (click)="createNewReimbursement()" class="btn btn-secondary" id="createBtn"> Open New Reimbursement Request
      <!-- <span class="oi oi-plus"></span> -->
    </button>

<br>

  <div class="container col-sm" *ngIf="show">
    
    </div>

    <br>

<button (click)="goBack()" class="btn btn-secondary" id="createBtn">Go Back
        <!-- <span class="oi oi-plus"></span> -->
</button>