div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:rgba(13, 0, 19, 0.733);
	height:50px;
}

a {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-links {
    margin-bottom: 35px;
}

.logo{
    margin-top: 10px;
    width: 35px;
    height: 35px;
}