<div class="container col-sm">
  <!-- *ngIf="show" -->
  <h4>Hello {{ authService.loggedInUser.firstname + "!" }}</h4>
  <table class="table table-striped table-light mt-2">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ authService.loggedInUser.username }}</td>
        <td>{{ authService.loggedInUser.firstname }}</td>
        <td>{{ authService.loggedInUser.lastname }}</td>
        <td>{{ authService.loggedInUser.email }}</td>
        <td>{{ authService.loggedInUser.roleid }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-secondary" (click)="createReimbursement()">Open New Request
  <span class=""></span>
</button> 

<button class="btn btn-secondary" (click)="viewUserReimbursements()">View Your Requests
    <span class=""></span>
  </button> 

<!-- <button *ngIf="isAdmin" (click)="allUsers()" class="btn btn-secondary">All Users
  <span class=""></span>
</button> -->

<button *ngIf="isAdmin" class="btn btn-secondary" (click)="createUser()" id="createBtn">Add new user
  <span class=""></span>
</button>

<button *ngIf="isAdmin" class="btn btn-secondary" (click)="goToReimbursements()" id="createBtn">Go To Reimbursements
  <span class=""></span>
</button>

<button class="btn btn-secondary" (click)="logout()">Log Out
  <span class=""></span>
</button>

<table class="table table-striped table-light mt-2" *ngIf="isAdmin">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of users">
      <td>{{ users.username }}</td>
      <td>{{ users.firstname }}</td>
      <td>{{ users.lastname }}</td>
      <td>{{ users.email }}</td>
      <td>{{ users.roleid }}</td>
    </tr>
  </tbody>
</table>