<h2>
  Finance Manager
</h2>

<div>
<table  dt-options="controller.options"  datatable="ng" class="table  table-bordered table-striped table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
      <th>ReimbursementID</th>
      <th>EmployeeID</th>
      <th>$Amount</th>
      <th>Submitted Date</th>
      <th>Resolved Date</th>
      <th>Description</th>
      <th>Receipt</th>
      <th>ResolverID</th>
      <th>Type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tr *ngFor="let stat of rbarray">
    <td>{{ stat.rbID }}</td>
    <td>{{ stat.author }}</td>
    <td>{{ stat.amount | currency }}</td>
    <td>{{ stat.submitted | date: 'medium' }}</td>
    <td>{{ stat.resolved | date: 'medium' }}</td>
    <td>{{ stat.description }}</td>
    <td>{{ stat.receipt }}</td>
    <td>{{ stat.resolver }}</td>
    <td>{{ convertTypeID(stat.typeID) }}</td>
    <td>{{ convertStatusID(stat.statusID) }}</td>
    <td>
      <button class="btn btn-success " (click)="approve(stat.rbID,this.id)">Approve</button>
      <button class="btn btn-danger" style="width:78px;margin-top: 5px" (click)="deny(stat.rbID,this.id)">Deny</button>
    </td>

  </tr>
</table>


<!-- <h1>1515</h1>
  <form (submit)="convertTypeID(1)">
    <input type="submit" value="test">
  </form> -->