<!-- <div [hidden]="hidden"> -->
<h1 class="text-center">Employee Reimbursement System</h1>

<br>

<h2 class="text-center">Please log in...</h2>

<input class="form-control col-4 offset-4 mb-1" type="text" placeholder="username" name="username" required [(ngModel)]='username'/>

<input class="form-control col-4 offset-4 mb-1" type="password" placeholder="password" name="password" required [(ngModel)]='password'/>

<button (click)="login()" class="btn btn-secondary">Login</button>
<!-- </div> -->

<br>
